<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @set_sidebar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/dallinbjohnson" target="_blank"><%= fa_icon "github-square" %></a></li>
      <li><a href="https://www.facebook.com/elderdallin.johnson.5" target="_blank"><%= fa_icon "facebook-square" %></a></li>
      <li><a href="https://www.linkedin.com/in/dallin-johnson-33b716b7/" target="_blank"><%= fa_icon "linkedin-square" %></a></li>
      <li><a href="https://www.instagram.com/dallinbrycejohnson/" target="_blank"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://www.viewbug.com/member/dallinbryce" target="_blank"><%= fa_icon "bug" %></a></li>
      <li><a href="https://www.meetup.com/members/228209689/" target="_blank"><%= fa_icon "meetup" %></a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->